body {
    background-image: url("./wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

table {
   /* Overall Table Style */
border-collapse: separate;
border-spacing: 0;
width: 100%;
max-width: 800px;
margin: auto;

/* Table Cell Styles */
color: #ffffff;
font-family: 'Poppins', sans-serif;
font-size: 16px;
text-align: center;
background-color: #34495e;
border: none;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

td, tr {
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.5);
}
